.container {
    max-width: 100% !important;
}

.card-deck {
    width: 80%;
    margin-left: 10%;
    margin-top: 100px;
    text-align: center;
}

.card {
    min-width: 21%;
    max-width: 21%;
    margin-left: 6% !important;
    margin-right: 6% !important;
}