<html>
<body>
    <div>
        <form method="post">
            <input type="text" name="header" placeholder="Введи заголовок" />
            <input type="text" name="text" placeholder="Введи текст" />
            <button type="submit">Добавить</button>
        </form>
    </div>

    <div>Список карточек</div>
    {{#cards}}
    <div>
        <b>{{id}}</b>
        <span>{{cardHeader}}</span>
        <span>{{cardText}}</span>
    </div>
    {{/cards}}
</body>
</html>